.connect4-board {
    display: flex;
    flex-direction: column-reverse;
    background-color: 	 	rgb(53, 57, 53);
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .row {
    display: flex;
    margin : -20px;
    

  }

  

  .circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px black;
  }
  .smallCircle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px black;
  }
  
  .roomUIelement, .copyButton, .errorMessage{
    width:90%;
    height:100px;
    font-size:100%;
    text-align:center;
    font-weight: bold;
    
}

.copyButton{
    width:45%
}

.message{
    font-size:larger;
    
}

/*used for notifying the user that the input field is empty */
.errorMessage::placeholder{
    color:rgba(255, 0, 0, 0.7);;
}
 
  .empty2 {
    background-color:rgb(255, 255, 255);
  }
  .empty {
    background-color:rgb(255, 255, 255);
  }
  .empty:hover{
    background-color: aqua;
  }

  .red {
    background-color: red;
  }

  .yellow {
    background-color:yellow
  }
  body {
    background-color: 	 	rgb(53, 57, 53);
  }
  .p1{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255);
    font-size:xx-large;
   
  }
