main {
    min-height: calc(100vh - 162px);
}

main div {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: -15px;
    text-align: center;
}
