.roomUIelement, .copyButton, .errorMessage{
    width:90%;
    height:100px;
    font-size:100%;
    text-align:center;
    font-weight: bold;
}

.copyButton{
    width:45%
}

.message{
    font-size:larger;
}

/*used for notifying the user that the input field is empty */
.errorMessage::placeholder{
    color:rgba(255, 0, 0, 0.7);;
}